<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:sws="http://www.springframework.org/schema/web-services"
  xmlns:mongo="http://www.springframework.org/schema/data/mongo"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
        http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
  
  <bean id="platformConfigFactory" class="org.waag.ah.PlatformConfig"
    factory-method="getConfig" />
  
  <!-- <mvc:interceptors>
    <bean id="dataUrlInterceptor" class="org.waag.ah.spring.interceptor.DataUrlInterceptor">
      <constructor-arg ref="platformConfigFactory" />
    </bean>
  </mvc:interceptors> -->
  
  <context:component-scan base-package="org.waag.ah.spring" />
  <!-- <context:annotation-config /> -->
  <sws:annotation-driven />
  
<!-- 
  <mvc:annotation-driven>
    <mvc:argument-resolvers>
      <bean class="org.waag.ah.spring.RestParametersArgumentResolver"/>
    </mvc:argument-resolvers>
  </mvc:annotation-driven>
 -->  
 
  <sws:dynamic-wsdl id="admin" portTypeName="AdminInterface"
    locationUri="http://api.ah.local/admin/">
    <sws:xsd location="/WEB-INF/xsd/AdminInterface.xsd" />
  </sws:dynamic-wsdl>

</beans>
