<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jee="http://www.springframework.org/schema/jee"
  xmlns:mvc="http://www.springframework.org/schema/mvc" 
  xmlns:sws="http://www.springframework.org/schema/web-services"
  xmlns:mongo="http://www.springframework.org/schema/data/mongo"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
        http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
  
  <!-- See org.waag.ah.spring.configuration.BaseConfig for more configuration -->
  
  <bean id="platformConfigFactory" class="org.waag.ah.PlatformConfigHelper"
    factory-method="getConfig" />
  
  <bean class="org.waag.ah.spring.view.QueryTaskView">
    <constructor-arg ref="queryService"/>    
  </bean>

  <jee:jndi-lookup id="queryService" jndi-name="java:app/datastore/QueryService"/>
  
  <context:component-scan base-package="org.waag.ah.spring" />

  <sws:annotation-driven />
  <sws:dynamic-wsdl id="admin" portTypeName="AdminInterface"
    locationUri="http://api.ah.local/admin/">
    <sws:xsd location="/WEB-INF/xsd/AdminInterface.xsd" />
  </sws:dynamic-wsdl>

</beans>
