waag.artsholland.datastore/ejbModule/rebel.xml
waag.artsholland.importer/ejbModule/rebel.xml
waag.artsholland.scheduler/ejbModule/rebel.xml

waag.artsholland/target
waag.artsholland.api/target
waag.artsholland.core/target
waag.artsholland.datastore/target
waag.artsholland.importer/target
waag.artsholland.scheduler/target
