<?xml version="1.0" encoding="UTF-8"?>

<beans:beans 
    xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:oauth="http://www.springframework.org/schema/security/oauth"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.1.xsd
        http://www.springframework.org/schema/security/oauth 
        http://www.springframework.org/schema/security/spring-security-oauth-1.0.xsd">
  
  <!-- beans:bean id="oauthEntryPoint" class="org.springframework.security.oauth.provider.OAuthProcessingFilterEntryPoint"/-->
  <!-- http create-session="stateless" entry-point-ref="oauthEntryPoint"--> <!-- requires-channel="https"/-->
  <http auto-config="true"> <!-- requires-channel="https"/-->
    <intercept-url pattern="/rest/**" access="ROLE_USER"/>
    <intercept-url pattern="/oauth/**" access="ROLE_USER"/>
    <intercept-url pattern="/request_token_authorized.jsp" access="ROLE_USER"/>
    <!-- intercept-url pattern="/**" access="ROLE_USER"/-->
    <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/> 
    <form-login 
        authentication-failure-url="/login.jsp" 
        default-target-url="/index.jsp" 
        login-page="/login.jsp" 
        login-processing-url="/login.do"/>
    <logout logout-success-url="/index.jsp" logout-url="/logout.do"/>
  </http>

	<oauth:provider 
      consumer-details-service-ref="consumerDetails"
      token-services-ref="tokenServices"
      request-token-url="/oauth/request_token"
      authenticate-token-url="/oauth/authorize"
      authentication-failed-url="/oauth/confirm_access"
      access-granted-url="/request_token_authorized.jsp"
      access-token-url="/oauth/access_token"
      require10a="false"/>

  <!-- Arts Holland user accounts. -->
  <authentication-manager>
    <authentication-provider>
      <user-service>
        <user name="marissa" password="koala" authorities="ROLE_USER" />
        <user name="paul" password="emu" authorities="ROLE_USER" />
      </user-service>
    </authentication-provider>
  </authentication-manager>
  
  <!-- Arts Holland developer accounts. -->
  <oauth:consumer-details-service id="consumerDetails">
    <oauth:consumer 
        name="Tonr.com"
        key="tonr-consumer-key"
        secret="SHHHHH!!!!!!!!!!"
        resourceName="Your Photos"
        resourceDescription="Your photos that you have uploaded to sparklr.com."
        requiredToObtainAuthenticatedToken="false"
        authorities="ROLE_USER"/>
  </oauth:consumer-details-service>

  <oauth:token-services id="tokenServices"/>

</beans:beans>