<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:sws="http://www.springframework.org/schema/web-services"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/web-services
        http://www.springframework.org/schema/web-services/web-services-2.0.xsd">
  
  <!-- <import resource="applicationContext-security.xml"/> -->
  
  <context:annotation-config/>
  <context:component-scan base-package="org.waag.ah.api" />

  <mvc:annotation-driven />
  <sws:annotation-driven />

  <sws:dynamic-wsdl id="admin"
      portTypeName="AdminInterface"
      locationUri="http://api.ah.local/admin/">
    <sws:xsd location="/WEB-INF/xsd/AdminInterface.xsd"/>
  </sws:dynamic-wsdl>

	<!-- <bean id="connectionFactory" class="org.waag.ah.persistence.SAILConnectionFactory">
		<property name="jndiName" value="java:app/waag.artsholland.datastore/SAILConnectionFactory"/>
	</bean> -->
	
	
	
	<bean id="connectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:app/waag.artsholland.datastore/SAILConnectionFactory"/>
	</bean>

	<!-- 
	  <bean id="connectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
	    <property name="jndiName" value="java:global/SailConnectionFactory"/>
	  </bean> -->
	 
	<bean id="repositoryConnection"
	      class="org.openrdf.repository.sail.SailRepositoryConnection"
	      factory-bean="connectionFactory"
	      factory-method="getConnection"/> 
	  
</beans>